button {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  border: 1px solid var(--button-primary-color-border);
  color: var(--button-primary-color);
  background: var(--button-primary-color-background);

  &:hover {
    background: var(--button-primary-color-background-hover);
    border: 1px solid var(--button-primary-color-border-hover);
  }

  &:active {
    background: var(--button-primary-color-background-active);
    border: 1px solid var(--button-primary-color-border-active);
  }

  &.tertiary {
    border: 1px solid var(--button-tertiary-color-border);
    color: var(--button-tertiary-color);
    background: var(--button-tertiary-color-background);

    &:hover {
      color: var(--button-tertiary-color-hover);
      background: var(--button-tertiary-color-background-hover);
      border: 1px solid var(--button-tertiary-color-border-hover);
    }

    &:active {
      color: var(--button-tertiary-color-active);
      background: var(--button-tertiary-color-background-active);
      border: 1px solid var(--button-tertiary-color-border-active);
    }
  }

  img {
    width: 20px;
  }
}
