header {
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: var(--background-color-header);
  position: sticky;
  top: 0;
  backdrop-filter: blur(7px);

  .nameContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 3;

    .name {
      font-family: var(--font-family-name);
    }
  }

  nav {
    justify-content: space-around;
    gap: 13px;

    .aSelected {
      color: var(--link-color-active);
    }
  }

  .hamburger {
    z-index: 3;
  }
}

.sidebar {
  position: fixed;
  width: 40dvw;
  height: 92.3dvh;
  z-index: 3;
  top: 65px;
  right: 0;
  background-color: var(--sidebar-color);
  display: flex;
  flex-direction: column;
  padding: 10px;

  nav {
    justify-content: flex-start;
    flex: 1;
    margin: 20px 4px;
    display: flex;
    flex-direction: column;
  }
}

.mask {
  position: absolute;
  z-index: 2;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--background-color-header);
  backdrop-filter: blur(7px);
  left: 0;
  top: 0;
}

.langButton {
  button {
    padding: 5px !important;

    svg {
      width: 17px;
      height: 17px;
    }
  }

  &.aside .dropdown {
    bottom: 56px !important;
  }

  .dropdown {
    position: absolute;
    bottom: -45px;
    border-radius: 5px;
    border: 1px solid var(--button-tertiary-color-border);
    background-color: var(--background-color-up);
    z-index: 2;

    & > div {
      border-radius: 5px;
      padding: 0 5px;
      cursor: pointer;

      &:hover {
        color: var(--button-tertiary-color-hover);
        background-color: var(--button-tertiary-color-background-hover);
      }

      &.selected {
        color: var(--button-tertiary-color-active);
        background-color: var(--button-tertiary-color-background-active);
      }
    }
  }

  .maskLang {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
  }
}
