header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  padding: 10px;
  background-color: var(--background-color-header);
  position: sticky;
  top: 0;
  backdrop-filter: blur(7px);

  .name {
    font-family: var(--font-family-name);
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    gap: 10%;
  }

  .theme {
    .switch {
      position: relative;
      display: inline-block;
      width: 45px;
      height: 21px;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--switch-color-background);
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 34px;
        border: 1px solid var(--switch-color-border);

        svg {
          width: 17px;
          height: 17px;
          position: absolute;
          padding: 2px;
          left: 2px;
          bottom: 1px;
          background-color: var(--switch-color-circle);
          -webkit-transition: 0.4s;
          transition: 0.4s;
          border-radius: 50%;
        }
      }

      // input:checked + .slider {
      //   background-color: #2196f3;
      // }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
      }

      input:checked + .slider svg {
        -webkit-transform: translateX(22px);
        -ms-transform: translateX(22px);
        transform: translateX(22px);
      }
    }
  }
}
