header {
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: var(--background-color-header);
  position: sticky;
  top: 0;
  backdrop-filter: blur(7px);

  .nameContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 3;

    .name {
      font-family: var(--font-family-name);
    }
  }

  nav {
    justify-content: space-around;
    gap: 27px;

    .aSelected {
      color: var(--link-color-active);
    }
  }

  .hamburger {
    z-index: 3;
  }
}

.sidebar {
  position: fixed;
  width: 40dvw;
  height: 100dvh;
  z-index: 3;
  top: 65px;
  right: 0;
  background-color: var(--sidebar-color);
  display: flex;
  flex-direction: column;
  padding: 10px;

  nav {
    justify-content: flex-start;
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
}

.mask {
  position: absolute;
  z-index: 2;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--background-color-header);
  backdrop-filter: blur(7px);
  left: 0;
  top: 0;
}
