.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;

  .image {
    max-width: 800px;
    min-width: 300px;
    width: 30%;
    position: relative;

    img {
      object-fit: cover;
      height: 100%;
      border-radius: 100%;
      padding: 10px;
      background-image: url("/src/assets/foto.png");
      background-size: cover;
      background-color: var(--border-color-images);
      background-blend-mode: hue;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 15px;

    h1 {
      font-family: var(--font-family-name);
    }

    .links {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }
  }
}

.invisible {
  display: none;
}
