.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  svg {
    width: 200px;
    height: auto;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
